//Popup
$select-width: 756px;
$select-height: 820px;

//background
.popup-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: $select-height + 100px;
	z-index: 100;

	&_black {background: rgba(#000, .5);}
}

//popup in step 2
.select-window {
	width: $select-width;
	height: $select-height;
	background: $white;
	position: absolute;

	&__content {
		margin: 40px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 10px 0;
		&:first-child {margin: 0 0 30px 0;}
		&:last-child  {margin: 30px 0 0 0;}
		
		&_socials {
			justify-content: space-between;
		}

		&_data {
			flex-wrap: wrap;
			align-items: stretch;
			.data_col   {flex-basis: 50%;}
		}
	}	
}

.direction {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&_margin {
		&:first-child {padding-right: 25px;}
		&:last-child  {padding-left: 25px;}
	}
}

.direction-name {
	font-size: 18px;
	//line-height: 15px;

	&_bold {
		font-weight: bold;
		@extend .direction-name;
	}

	&_upper {
		text-transform: uppercase;
		@extend .direction-name;
	}

	&_small {font-size: 11px;}
}

.direction-city {
	margin-top: 15px;
}

.direction-time {
	@extend .direction-name_bold;
}

.direction-dist {
	font-weight: bold;
}