.scale {
    $scale-width: 340px;
    $scale-items-number: 5;
    $scale-i-diametr: 22px;
    $scale-i-diametr-max: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/scale.png);
    background-size: 98% 46px;
    background-position: 50% -27px;
    background-repeat: no-repeat;
    width: $scale-width;
    height: $scale-i-diametr-max;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $scale-i-diametr-max;
        height: $scale-i-diametr-max;
        font-weight: bold;
        font-size: 10px;
        color: #a7a7a7;
        background-image: url(../img/scale.png);
        background-position: 50% 2px;
        background-repeat: no-repeat;
        &::before {
            content: attr(data-step);
        }
        &.activ {
            background-image: url(../img/scale-large_pill.png);
            background-size: 29px 29px;
            background-position: 50% -1px;
            font-size: 11px;
            color: $white;
        }
        &.done {
            &::before {
                content: "";
                width: 16px;
                height: 16px;
                background-image: url(../img/scale-small_pill.png);
                background-position: 50% 50%;
            }
        }
    }
}